/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --grey-tint-2:#d9d9d9;
    --white: #fff;
    --grey: #f2f2f2;
    --black: #000000 ;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top:0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo
{
    width: 61.1px;
    height: 19px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:50px;
    padding-right:50px;
}

nav
{
    display: flex;
    width:279px;
    height:35px;
    gap:68px;
    padding-left:25px;
    padding-right:25px;
 
}

nav a
{
    padding-top:14px;
}

nav a:hover 
{
    color:var(--main-color);
    border-top:var(--main-color) solid 2px;
}

a {
    color: inherit;
    text-decoration: none;
}

.info_group
{
    margin-top:30px;
}

.info_group h1
{
    font-size:22px;
    margin-bottom:8px;
}

.info-group p
{
    font-size:14px;
}

form
{
    display: flex;
    flex-direction: row;
    margin-top:35px;
    margin-bottom:35px;
}

.search_icon
{
    background-color: var(--grey);
    height:50px;
    width:49px;
    border: 1px solid var(--grey);
    border-radius: 15px 0px 0px 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.search_icon .fa-solid
{
    color: var(--black);
    margin:auto;
}

.submit
{
    background-color: var(--main-color);
    color:var(--white);
    border : 1px solid var(--main-color);
    font-size:18px;
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:16px;
    padding-right:16px;
}

.search
{
    font-size:18px;
    font-weight:700;
    padding-left:24px;
    padding-right:24px;
    border:none;
}

.filter_bar
{
    display: flex;
    flex-direction: row;
    gap:15px;
}

.filter_bar a
{
    display: flex;
    align-items: center;
    padding-right:19px;
    padding-left:19px;
    gap:10px;
    border-radius:25px;
    border: 2px var(--grey-tint-2) solid;
    font-size:17px;
    font-weight:700;
    
}

.filter_bar a:hover
{
    background-color: var(--filter-bg-color);
}

.filter_bar p
{
    font-size:18px;
    font-weight: 700;
    
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}